*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  body {
    font-size: 16px;
    background-color: #bb133e;
    font-family: Arial, Helvetica, sans-serif;
  }
 /* header{
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
  }*/

    input[type="text"],
    input[type="email"],
    input[type="file"],
    input[type="tel"],
    input[type="date"],
    input[type="time"],
    select,textarea
    {
        font-size: 20px;
        width: 90%;
        padding: 10px;
        border: none;
        outline: none;
        text-align: center;
    }
   

    input[type="submit"]{
        color: #002147;
        font-size: 20px;
        width: 60%;
        padding: 10px;
        border: none;
        outline: none;
        text-align: center;
    
    }

    .formulario{
        background:#002147 ;
        padding: 80px;
        margin:auto;
        width: 700px;
        margin-top: 3em;
        border-radius: 0%;
        outline: none;
        margin-bottom: 3em;
        
      }
      .form{
        background:#002147 ;
        padding: 80px;
        margin:auto;
        width: 850px;
        margin-top: 3em;
        border-radius: 0%;
        outline: none;
        margin-bottom: 3em;
        
      }
      
      .contenedor, .container{
        width: 100%;
        padding: 1px;
        outline: none;
        margin-top: 2em;
        margin-bottom: 2em;
        text-align: center;
        border: none;
        outline: none;
        font-size: 20px;
      }
      
      label, .foot{
        color: #FFFFFF;
        text-align: center;
        font-size: 22px;
        size: 10em;
        margin-top: 1em;
        margin-bottom: 1em;
      }
      
      b,a{
        text-align: center;
        color:#FFFFFF;
        font-size: 40px;
        margin-top:auto;
        margin-bottom: 1em
      }
      
      .title{
        text-align: center;
      } 
    h1{
      text-align: center;
        font-size: 60px;
        color:#FFFFFF;
    }
    h2{
      text-align: center;
        font-size: 35px;
        color:#FFFFFF;
    }
    .radio{
      text-align: center;
      margin-top: 1em;
      margin-bottom: 1em;
    }
    .head{
      text-align: center;
      margin-top: 5em;
      margin-bottom: 3em;
      color: #FFFFFF;
    }
    .input[type="date"]{
      width: 10px;
      height: 15px;
    }
    footer{
      color: #FFFFFF;
    }
    .header{
      width: 800px;
      margin-top: 2em;
      margin-left: auto;
      margin-right: auto;
    }
    .img-center{
      margin: 10px auto 10px;
      display: block;
    }
    footer {
      text-align: center;
      padding: 3px;
      background-color: DarkSalmon;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
    }
